.lazy-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
}

.lazy-loader ion-spinner {
  --color: #42BABE;
  width: 32px;
  height: 32px;
}
